In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open('../statesToData.pickle', 'rb') as handle:
    statesToData = pickle.load(handle)

In [4]:
all_data_list = []

In [5]:
for i,state in enumerate(statesToData):
    df = statesToData[state]
    all_data_list.append(df)

In [6]:
all_data = pd.concat(all_data_list, axis = 0)

In [7]:
all_data.shape

(781811, 261)

In [10]:
all_data.head()

,CDIVMSAR,CENSUS_D,CENSUS_R,DRIVER,DRVRCNT,ENDTIME,EDUC,GASPRICE,HBHTNRNT,HBHUR,...,PTRANS_AGREE,SPHONE_HIGH,TAB_HIGH,TAXI_HIGH,WALK_HIGH,WALK2SAVE_AGREE,WEBUSE17_HIGH,HHCNTYFP,HHCT,CENSUS_ID
0,53,5,3,1,3,1015,3,228.4,20,T,...,0,1,1,0,0,0,1,191,001301,37191001301
1,53,5,3,1,3,1530,3,228.4,20,T,...,0,1,1,0,0,0,1,191,001301,37191001301
2,53,5,3,1,3,900,3,228.4,20,T,...,0,1,1,0,0,0,1,191,001301,37191001301
3,53,5,3,1,3,2030,3,228.4,20,T,...,0,1,1,0,0,0,1,191,001301,37191001301
4,53,5,3,1,3,900,2,228.4,20,T,...,0,1,1,0,0,0,1,191,001301,37191001301

In [11]:
data_unique_census_id = all_data.drop_duplicates(subset = "CENSUS_ID", inplace = False)

In [12]:
print(all_data.shape)
print(data_unique_census_id.shape)

(781811, 261)
(32681, 261)

In [13]:
data_unique_census_id.head()

,CDIVMSAR,CENSUS_D,CENSUS_R,DRIVER,DRVRCNT,ENDTIME,EDUC,GASPRICE,HBHTNRNT,HBHUR,...,PTRANS_AGREE,SPHONE_HIGH,TAB_HIGH,TAXI_HIGH,WALK_HIGH,WALK2SAVE_AGREE,WEBUSE17_HIGH,HHCNTYFP,HHCT,CENSUS_ID
0,53,5,3,1,3,1015,3,228.4,20,T,...,0,1,1,0,0,0,1,191,001301,37191001301
159,54,5,3,1,1,850,4,234.0,5,R,...,0,1,0,0,1,0,1,161,960300,37161960300
179,53,5,3,1,2,445,3,222.7,5,T,...,0,1,1,0,1,0,1,129,012105,37129012105
384,54,5,3,0,0,1215,2,228.4,20,R,...,0,0,1,0,0,0,1,107,011400,37107011400
663,53,5,3,1,2,900,2,232.8,30,T,...,0,1,1,0,0,0,1,001,020501,37001020501

In [19]:
data_unique_census_id = data_unique_census_id[data_unique_census_id.columns.tolist()[::-1]]

In [23]:
data_unique_census_id.head(10)

,CENSUS_ID,HHCT,HHCNTYFP,WEBUSE17_HIGH,WALK2SAVE_AGREE,WALK_HIGH,TAXI_HIGH,TAB_HIGH,SPHONE_HIGH,PTRANS_AGREE,...,HBHUR,HBHTNRNT,GASPRICE,EDUC,ENDTIME,DRVRCNT,DRIVER,CENSUS_R,CENSUS_D,CDIVMSAR
0,37191001301,001301,191,1,0,0,0,1,1,0,...,T,20,228.4,3,1015,3,1,3,5,53
159,37161960300,960300,161,1,0,1,0,0,1,0,...,R,5,234.0,4,850,1,1,3,5,54
179,37129012105,012105,129,1,0,1,0,1,1,0,...,T,5,222.7,3,445,2,1,3,5,53
384,37107011400,011400,107,1,0,0,0,1,0,0,...,R,20,228.4,2,1215,0,0,3,5,54
663,37001020501,020501,001,1,0,0,0,1,1,0,...,T,30,232.8,2,900,2,1,3,5,53
688,37119006302,006302,119,1,1,0,0,0,1,0,...,S,5,222.7,4,926,2,1,3,5,52
1083,37127011300,011300,127,1,0,0,0,0,1,0,...,R,30,233.1,5,1052,2,1,3,5,53
1109,37049960500,960500,049,1,0,0,0,1,1,0,...,T,30,227.2,3,845,2,1,3,5,53
1140,37191001500,001500,191,0,0,0,0,0,0,0,...,T,40,232.8,2,725,1,1,3,5,53
1145,37189920900,920900,189,1,0,0,0,1,1,0,...,R,5,232.4,1,1145,2,1,3,5,54

In [22]:
print(data_unique_census_id.shape)

(32681, 261)

In [24]:
from sklearn.model_selection import train_test_split

In [28]:
train_unique, test_unique = train_test_split(data_unique_census_id, train_size = 5/6, test_size = 1/6, shuffle = True)

In [29]:
train_unique.head()

,CENSUS_ID,HHCT,HHCNTYFP,WEBUSE17_HIGH,WALK2SAVE_AGREE,WALK_HIGH,TAXI_HIGH,TAB_HIGH,SPHONE_HIGH,PTRANS_AGREE,...,HBHUR,HBHTNRNT,GASPRICE,EDUC,ENDTIME,DRVRCNT,DRIVER,CENSUS_R,CENSUS_D,CDIVMSAR
40900,37183053422,053422,183,1,0,1,0,1,1,0,...,C,5,234.0,5,509,2,1,3,5,52
351773,36005019300,019300,005,1,1,1,0,0,0,0,...,U,90,237.2,3,1200,0,0,1,2,21
347555,17141961300,961300,141,1,0,1,0,0,0,0,...,R,5,217.4,5,1200,2,1,2,3,34
145315,40109107211,107211,109,1,0,0,0,0,1,0,...,C,30,224.2,3,1700,2,1,3,7,72
248640,37067002702,002702,067,1,0,0,0,0,1,0,...,C,80,240.8,3,900,1,1,3,5,53

In [30]:
test_unique.head()

,CENSUS_ID,HHCT,HHCNTYFP,WEBUSE17_HIGH,WALK2SAVE_AGREE,WALK_HIGH,TAXI_HIGH,TAB_HIGH,SPHONE_HIGH,PTRANS_AGREE,...,HBHUR,HBHTNRNT,GASPRICE,EDUC,ENDTIME,DRVRCNT,DRIVER,CENSUS_R,CENSUS_D,CDIVMSAR
5281,36055012500,012500,055,1,1,0,0,0,1,0,...,S,5,244.7,5,755,1,1,1,2,22
615389,50007000100,000100,007,1,0,1,0,0,1,0,...,S,30,248.0,5,650,1,1,1,1,13
291709,34025810502,810502,025,1,0,0,0,0,1,0,...,T,0,232.6,5,610,2,1,1,2,21
125237,37183053424,053424,183,1,1,0,0,0,1,1,...,C,20,222.7,4,810,1,1,3,5,52
252390,35043010722,010722,043,1,0,0,0,1,1,1,...,S,5,218.0,5,1751,2,1,4,8,83

In [31]:
print(train_unique.shape)
print(test_unique.shape)

(27234, 261)
(5447, 261)

In [32]:
train_unique.to_csv("train_unique.csv")
test_unique.to_csv("test_unique.csv")